.tables-container {
    display: flex;
    justify-content: start;
    margin-top: 20px;
  }

  table {
    margin-right: 10px;
  }

  td {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  #incrementTable {
    background-color: #e0ffe0; /* Light green */
  }
  #decrementTable {
    background-color: #ffe0e0; /* Light red */
  }

